h1{
    color: black;
    text-align: center;

}

li{
   display: inline;
   margin: 100px;
   color: blue;
  
  
   

}
header{
    background-color: black;
    
}
ul{
    
    padding: 30px;
   
}
p{
   
    font-size: 150%;
    margin-left: 100px;
    
    margin-top: 1%;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: coral;
    text-decoration: none;
   }
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}